/* Basic Styles */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

body {
	background-color: #444;
	margin: 0;
	font-family: 'Special Elite', serif;
	color: #FFF;
	text-align: left;
}

/* Links */

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #444	;
}

/* Color Wrap */

#row {
	background: #c27800 url('../img/transparentbg.png') no-repeat fixed center top;	
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	width: 100%;
	margin: 50px 0;
}

/* Content */

#content {
	width: 385px;
	margin: 1em 0 1em 15%;
	padding: 1.2rem 1.2rem;
	border-radius: 5px;
	background: none;
	background: rgba(255, 255, 255, 0.15);
}

.info {
	margin: auto;
}

#phone:before {
	content: "| ";
}

#phone {
	display: inline-block;
}

.info img {
	width: 320px;
	height: 30px;
}

/* Banner */

.banner {
	padding: .5rem;
	margin: 0 auto 1rem auto;
	text-align: center;
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: .7rem;
	width: 300px;
	background-color: #444;
	border: 1px solid white;
}

.banner a:hover {
	color: #c27800;
}

#banner-upper {
	font-size: 1.25rem;
	padding-bottom: .75rem;
}

#banner-lower {
	font-size: .8rem;
}


/* Navigation  - Full Size*/

.nav {

}

.nav ul {
	padding-left: 1rem;
	margin: 0;
}
.nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Mobile */

@media screen and (max-width: 480px) {
	.banner {
		margin: 0 0 1rem 0;
		width: 100%;
		border-top: 1px solid white;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid white;
	}

	#row {
		margin: 0;
		padding: 0;
	}

	#content {
		width: 100%;
		text-align: center;
		background: none;
		background: rgba(255, 255, 255, 0.15);
		padding: 0;
		margin-top: 5px;
		margin-left: 0;
		margin-right: 0;
	}

	#phone:before {
		content: "";
	}

	.info {
		width: 100%;
		padding: 0 .2rem 0 .3rem;
		font-size: 1.2rem;
		background-color: rgba(68, 68, 68, .2);
	}

	.info img {
		width: 100%;
		max-width: 320px;
		min-width: 200px;
	}

	.nav {
		padding: 0 .2rem 0 .3rem;
	}
	
	.nav ul {
		padding: 0;
	}

	.nav li {
		margin: .2rem 0;
		padding: .2rem 0;
		background-color: #444;
		background-color: rgba(68, 68, 68, 0.4);
		border-top: 1px dotted white;
		border-bottom: 1px dotted white;
	}

}